* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
}
.home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.title {
    width: 100%;
    display:flex;
    justify-content: center;
    padding: 10px;
}
.intro {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
}
.nrml-button {
    background-color: darkblue;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 7px;
}
.nrml-button:hover {
    background-color: purple;
    cursor: pointer;
}
.d-none {
    display: none;
}
.feedback {
    width: 100%;
    border-top: 2px solid lightgrey;
    font-size: 24px;
    color: lightgrey;
}
.questions {
    width: 100%;
}
.q-container {
    display: flex;
    flex-wrap: wrap;
    width: 66%;
    margin: 0 auto;
    justify-content: left;
}
/* ul {
    width: 100%;
} */
.score-form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 15px;
}
.end-score {
    font-size: 24px;
}
input, label {
    margin: 15px;
    font-size: 24px;
}
.score-list {
    width: 25%;
    background-color: rgba(223, 188, 229, 0.6);
    margin: 0 auto 35px auto;
    text-align: center;
    font-size: 32px;

}
.score-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
